.Sport-cards{
    /* background: url("https://olympic.ind.in/public/images/sports/834814595.jpg"); */
    width: 20%;
    background-position: center;
    background-size: cover;
    position: relative;
    height: 300px;
    transition: 0.5s all ;
    margin: 5px;
    display: flex;
    justify-content: center;
}
.sport-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;

}
.sport-content img{
    transition: all 0.4s;
    transform-origin: bottom;
    width: 100%;
    transform: scale(0);
    transition: transform 0.5s ease-in-out;
    bottom: 100%;
}
.sport-content{
   
}
.sport-content h4{
    font-size: 2rem;
    color: #fff;
}

.Sport-cards:hover img {
    transform: scale(1);
}   
.Sport-cards:hover{
    opacity: 0.8;

}