.footer-container {
  background-color: #4f9cfc;

  padding: 40px 20px;
  color: white;
  text-align: center;
}

.footer_logo img {
  max-width: 150px;
  margin-bottom: 15px;
}

.footer_logo h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
  font-weight: 800;
  color: #fff; /* Catchy gold color */
}
.footer_logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer_logo p {
  font-size: 0.9em;
  line-height: 1.5;
}

.footer_logo a {
  color: #fff;
  text-decoration: none;
}

.footer_logo a:hover {
  text-decoration: underline;
}

.social_media {
  margin-top: 20px;
}

.social_media h3 {
  font-size: 1.3em;
  margin-bottom: 10px;
}

.social_media span {
  color: #fff;
}

.social_links {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.social_links li a {
  color: white;
  font-size: 24px;
  text-decoration: none;
}

.social_links li a:hover {
  color: #fff;
}

.copyright {
  margin-top: 30px;
  font-size: 0.85em;
  color: #ccc;
}

.copyright a {
  color: #ffcc00;
  text-decoration: none;
}

.copyright a:hover {
  text-decoration: underline;
}

/* Responsive Design */
@media (max-width: 768px) {
  .footer_logo img {
    max-width: 100px;
  }

  .footer_logo h3 {
    font-size: 1.2em;
  }

  .social_links {
    flex-direction: column;
    gap: 10px;
  }

  .social_links li a {
    font-size:20px;
}
}